doctype html5
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    title Points
    script(src='/socket.io/socket.io.js')
    script(src='assets/lib/hammerv2/hammer-1.0.0rc1.min.js')
    script(type='text/javascript', src='assets/lib/jquery-min.js')
    script(src='assets/lib/require.js')
    script(src='assets/lib/goo.js')
    script(src='assets/lib/BufferLoader.js')
    script(src='assets/js/musicTools.js')
    link(rel='stylesheet', href="/stylesheets/goo.css")

    script.
        PointCloud = {};

        PointCloud.image = !{JSON.stringify(startImage)};

  body
    script(src='assets/js/index_goo.js')
    script(src='assets/js/audio.js')